.nav-outer {
    width: 100%;
    margin: 0.5em 0.5em 0.5em 0em;
}
.nav-container {
    width: 80%;
    justify-content: space-between;
}
.nav-container .nav-title > a,
.nav-container {
    text-decoration: none;
    color: $dark;
}
.navbar {
    flex: 0 1 auto;
    padding: 0.25em;
    // justify-content: flex-start;
    > ul {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        > li {
            list-style-type: none;
            margin-left: 1em;
            > a {
                text-decoration: none;
                color: $dark;
                font-size: 1.1em;
            }
        }
    }
}

.nav-right {
    flex: 0 1 auto;
    justify-content: space-around;
    > .btn {
        display: inline-flex;
        text-decoration: none;
    }
}
.nav-social {
    margin-top: 0.75em;
    > a {
        font-size: 1.25em;
        margin-left: 1em;
        text-decoration: none;
        color: $dark;
    }    
}

.nav-title {
    display: none;
}
@media screen  // Tablet
    and (min-width: 768px)
    and (max-width: 1023px) {

}

@media screen //Phone
    and (max-width: 768px) {
    .off-canvas > * {
        display: none;
    }       
}