.flex-container {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}

.grid-container {
    display: grid;
}

.grid-item {
    display: inline-grid;
}

.img {
    height: 50%;
    position: relative;
}

.blue {
    color: #1d8daf;
}