.btn {
    border-radius: 0.25em;
    border-width: 0.2em;
    font-size: 1.25em;
    padding: 0.5em;
    width: auto;
    height: 30px;
}
.btn-dark {
    border: solid #272635;
    color: #272635; 
}
.btn-light {
    border: solid #fff;
    color: #fff;
}
.btn-aminated {
    background-color: #272635;
    color:#fff;
}