.btn {
    border-radius: 0.25em;
    border-width: 0.2em;
    font-size: 1.25em;
    padding: 0.5em;
    width: auto;
    height: 30px;
}
.btn-dark {
    border: solid $dark;
    color: $dark; 
}
.btn-light {
    border: solid #fff;
    color: #fff;
}
.btn-animated {
    background-color: #272635;
    color:#fff;
}

.btn-nav {
    border: solid #272635;
    color: #272635; 
    font-size: 1.15em;
    padding: 0.25em 0.5em 0.25em 0.5em;
    margin-right: 0.5em;
    margin-left: auto;
}