.btn {
    border-radius: 0.25em;
    border-width: 0.2em;
    font-size: 1.25em;
    padding: 0.5em 0.5em 1.5em 0.5em;
    height: 30px;
    padding-bottom: 2em;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.btn:hover{
    box-shadow: 3px 2px 1px 0px rgba(0, 0, 0, 0.25);
}
.btn:active {
    background: #fff;
    transform: scale(0.99);
    box-shadow: 3px 2px 22px 1px rgba(78, 70, 70, 0.25);
}
.btn-dark {
    border: solid $dark;
    color: $dark; 
}
.btn-light {
    border: solid #fff;
    color: #fff;
}
.btn-animated {
    background-color: #272635;
    color:#fff;
}

.btn-nav {
    border: solid #272635;
    color: #272635; 
    font-size: 1.15em;
    padding: 0.25em 0.4em 1.5em 0.4em;
    margin-left: auto;
    margin-top: 0.2em;
    border-radius:0.45em;
    > i {
        margin-top:0.1em;
    }
}

@media screen and (min-width: $breakpoint-tab) {
    .btn {
        display: inline-block;
        min-height: 46px;
        font-size: 1em;
        padding-bottom: 0.5em;
    }
}